.content {
  box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  border-radius: 15px;
}

.setas {
  margin-top: 2rem;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.setas li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
