.content {
  box-shadow: 2px 5px 25px 1px rgba(0, 0, 0, 0.12);
  padding: 2rem;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid rgba(255, 196, 0, 0.37);
}

.setas {
  margin-top: 2rem;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.setas li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.caixavideo {
  margin-top: 2rem;
  width: 100%;
  height: 300px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
